<li><a class="otherLinkColour">Code Gallery</a>
    <ul>
        <li><a href="{{ site.codegallery }}helloworld/index.html" class="otherLinkColour">Use Cases</a>
            <ul>
                <li><a href="{{ site.codegallery }}helloworld/helloworld-basic.html" class="otherLinkColour">Hello World (Simplest Implementation)</a></li>
            </ul>
        </li>
        {% comment %} <li><a href="{{ site.codegallery }}demo/index.html" class="otherLinkColour">Demo</a></li> {% endcomment %}
    </ul>
</li>